<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SentiMuse</title>
</head>

<body>
    <h1>SentiMuse</h1>
    <form action="{{ url_for('redirection') }}" method="post" class="form-inline">
        <div align="center">
            <input type="submit" name="about" class="blocksmall" value="About">
            <input type="submit" name="usage" class="blocksmall" value="Usage">
        </div>
    </form>
    <form action="{{ url_for('submit') }}" method="post">
        <div align="center">
            <textarea name="text" placeholder="Enter your text here" rows="15" cols="100"></textarea>
        </div>
        <div align="center">
            <input type="submit" class="block" value="Generate Music">
        </div>
    </form>
</body>
</html>