<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SentiMuse Usage</title>
</head>

<body>
    <h1>Usage</h1>
    <div class='div1'>
        <p align="left">
            Usage:<br/>
            1. Enter the text you wish to generate the music for<br/>
            2. Copy the generated ABC-encoded text.<br/>
            3. Paste this text in the online <a style="color:#f0be7d" href="https://www.mandolintab.net/abcconverter.php">ABC to MIDI converter</a> to generate the MIDI file<br/>
        </p>
    </div>
</body>
</html>